h1 {
    color: black;
    text-align: center;
}

p {
    color: rgb(1, 82, 1);
    font-size: 16px;
    line-height: 1.5;
}

body {
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 243, 221);
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
}

.image-side {
    width: 150px;
    height: 150px;
    margin: 0 20px;
}

.image-side.flipped {
    transform: scaleX(-1); /* Inverse horizontalement */
}


.content-center {
    max-width: 1000px;
}
