body {
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    color: rgb(0, 0, 51);
    text-align: center;
}

p {
    color: rgb(1, 82, 1);
    font-size: 16px;
    line-height: 1.5;
}